@font-face {
    font-family: "BeaufortforLOL-Regular";
    src: url("../assets/fonts/BeaufortForLoL-OTF/BeaufortforLOL-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Spiegel-Regular";
  src: url("../assets/fonts/Spiegel-OTF/Spiegel-Regular.otf") format("opentype");
}

:root {
  --md-admonition-icon--ubuntu: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22 12a10 10 0 0 1-10 10A10 10 0 0 1 2 12 10 10 0 0 1 12 2a10 10 0 0 1 10 10m-7.66-4.26c.58.33 1.31.13 1.66-.44.31-.57.12-1.3-.46-1.64-.57-.33-1.31-.16-1.64.44-.33.57-.13 1.31.44 1.64m-2.46 7.76c-.53 0-1.03-.11-1.47-.32l-.84 1.5c.7.32 1.48.54 2.31.54.49 0 .95-.07 1.4-.19.08-.49.36-.93.82-1.19.46-.27.98-.29 1.44-.12.89-.87 1.46-2.06 1.55-3.39l-1.71-.02a3.506 3.506 0 0 1-3.5 3.19m0-7c1.84 0 3.34 1.39 3.5 3.19l1.71-.03a5.209 5.209 0 0 0-1.55-3.38c-.46.17-.99.14-1.44-.12-.46-.26-.74-.71-.82-1.19-.45-.12-.91-.19-1.4-.19-.83 0-1.61.19-2.31.54l.84 1.5c.44-.21.94-.32 1.47-.32M8.37 12c0-1.19.59-2.24 1.49-2.87L9 7.65a5.217 5.217 0 0 0-2.17 3.04c.38.31.62.78.62 1.31s-.24 1-.62 1.31A5.195 5.195 0 0 0 9 16.34l.86-1.47c-.9-.63-1.49-1.68-1.49-2.87m5.97 4.26c-.57.33-.77 1.06-.44 1.64.33.57 1.07.77 1.64.44.58-.34.77-1.07.46-1.64-.35-.58-1.08-.77-1.66-.44M5.76 10.8c-.66 0-1.2.54-1.2 1.2 0 .66.54 1.2 1.2 1.2.67 0 1.2-.54 1.2-1.2 0-.66-.53-1.2-1.2-1.2Z"/></svg>')
}
.md-typeset .admonition.ubuntu,
.md-typeset details.ubuntu {
  border-color: rgb(233, 84, 32);
}
.md-typeset .ubuntu > .admonition-title,
.md-typeset .ubuntu > summary {
  background-color: rgba(233, 84, 32);
}
.md-typeset .ubuntu > .admonition-title::before,
.md-typeset .ubuntu > summary::before {
  background-color: rgb(244, 170, 144);
  -webkit-mask-image: var(--md-admonition-icon--ubuntu);
          mask-image: var(--md-admonition-icon--ubuntu);
}

:root {
  --md-admonition-icon--arch: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2c-.89 2.18-1.43 3.61-2.42 5.73.61.64 1.35 1.39 2.56 2.24-1.3-.54-2.19-1.07-2.85-1.63C8 11 6.03 14.75 2 22c3.17-1.83 5.63-2.96 7.92-3.39-.1-.42-.16-.88-.15-1.36v-.1c.05-2.03 1.11-3.59 2.36-3.48 1.25.1 2.22 1.83 2.17 3.87-.01.38-.05.75-.12 1.09 2.26.44 4.69 1.56 7.82 3.37-.62-1.14-1.17-2.16-1.69-3.13-.81-.64-1.7-1.48-3.46-2.37 1.21.3 2.08.66 2.76 1.07C14.26 7.62 13.83 6.3 12 2Z"/></svg>')
}
.md-typeset .admonition.arch,
.md-typeset details.arch {
  border-color: rgb(23, 147, 209);
}
.md-typeset .arch > .admonition-title,
.md-typeset .arch > summary {
  background-color: rgba(23, 147, 209);
}
.md-typeset .arch > .admonition-title::before,
.md-typeset .arch > summary::before {
  background-color: rgb(51, 51, 51);
  -webkit-mask-image: var(--md-admonition-icon--arch);
          mask-image: var(--md-admonition-icon--arch);
}